n8n-workflows/RSS新闻采集工作流.json
{
  "name": "RSS新闻采集工作流-最终版",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5281fd69-72f3-4243-9bc6-d253150c28ba",
      "name": "手动触发"
    },
    {
      "parameters": {
        "jsCode": "const rssSources = [\n  {\n    id: 1,\n    name: '少数派',\n    url: 'https://sspai.com/feed'\n  }\n];\n\nreturn rssSources.map(source => ({ json: source }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "38c368be-4bc9-4d46-8467-2b8178de1984",
      "name": "RSS源列表"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "c631f1e3-e0d6-42b5-83a6-721b7f9c6f1a",
      "name": "读取RSS"
    },
    {
      "parameters": {
        "url": "={{$json.link}}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "1ea4b23b-aebc-447c-add1-32e20171552a",
      "name": "获取HTML"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const httpResponse = $json;\nconst rssData = $('读取RSS').item.json;\n\nlet html = httpResponse.data || httpResponse.body || httpResponse.response || '';\nif (typeof html === 'object') {\n  html = html.body || html.data || JSON.stringify(html);\n}\nhtml = String(html || '');\n\nlet content = '';\nif (html && html.length > 100) {\n  let cleanHtml = html\n    .replace(/<script[^>]*>.*?<\\/script>/gis, '')\n    .replace(/<style[^>]*>.*?<\\/style>/gis, '')\n    .replace(/<!--.*?-->/gs, '');\n  \n  const articleMatch = cleanHtml.match(/<article[^>]*>(.*?)<\\/article>/is);\n  if (articleMatch) {\n    cleanHtml = articleMatch[1];\n  }\n  \n  content = cleanHtml\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&[a-z]+;/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  if (content.length > 5000) {\n    content = content.substring(0, 5000) + '...';\n  }\n}\n\nif (!content || content.length < 50) {\n  content = rssData.description || rssData.contentSnippet || '无内容';\n}\n\nreturn {\n  title: rssData.title || '无标题',\n  content: content,\n  sourceUrl: rssData.link || '',\n  publishedAt: rssData.isoDate || rssData.pubDate || new Date().toISOString(),\n  author: rssData.creator || rssData.author || 'Unknown',\n  tags: rssData.categories || []\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "3610424b-d740-46d5-8f59-091f9158df7d",
      "name": "提取内容"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.171.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen3:0.6b"
            },
            {
              "name": "prompt",
              "value": "=请为以下新闻生成一个简洁的中文摘要(不超过200字):\\n\\n标题:{{ $json.title }}\\n\\n内容:{{ $json.content }}\\n\\n只返回摘要内容,不要其他说明。"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ],
      "id": "4f27cdcf-d92e-4ce0-b3dd-b903f7c199ec",
      "name": "AI生成摘要"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiResponse = $json;\nconst originalData = $('提取内容').item.json;\n\nlet summary = '';\nif (aiResponse.response && typeof aiResponse.response === 'string') {\n  summary = aiResponse.response.trim();\n}\n\nreturn {\n  title: originalData.title,\n  content: originalData.content,\n  summary: summary,\n  sourceUrl: originalData.sourceUrl,\n  publishedAt: originalData.publishedAt,\n  author: originalData.author,\n  tags: originalData.tags || [],\n  contentType: 'news',\n  dataSource: 'RSS'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "e3516f2c-a1f2-4861-a599-470c9ed545aa",
      "name": "处理结果"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8080/api/knowledge/import",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        0
      ],
      "id": "32ff88ec-b8f1-4235-90d3-2da767c2a305",
      "name": "保存到后端"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst successCount = items.filter(item => \n  (item.json.statusCode === 200 || item.json.code === 200)\n).length;\n\nreturn {\n  timestamp: new Date().toISOString(),\n  total: items.length,\n  successCount: successCount,\n  failedCount: items.length - successCount,\n  message: `RSS采集完成: 成功 ${successCount}/${items.length} 条`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "id": "269e3de0-c582-4510-9fb6-6bf3f6ca4d2d",
      "name": "统计结果"
    }
  ],
  "pinData": {
    "处理结果": [
      {
        "json": {
          "title": "具透 Plus | iOS 26 密码导出功能幕后；Pixel 5G 网络启用方案遭封堵",
          "content": "iOS/macOS 26 密码导出功能幕后 @PlatyHsu ：如今，密码管理工具的选择不可谓不多。苹果也凑上了热闹，在去年的系统更新中加入了独立的「密码」app。然而，要在这些工具之间迁移，传统上是非常困难的。每个工具都使用互不兼容的格式；即使导出为 CSV 格式，由于双方的字段定义和功能集不同，也几乎无法无损转换。 近年 passkey（通行密钥）的普及进一步加重了这个问题。passkey 基于非对称加密，其中的私钥存放在设备的安全芯片里，公钥存放在网站或应用的服务器上。登录时，网站用公钥生成一个只有使用私钥才能通过的验证（challenge），从而验证身份。 显然，要保证这个机制的安全，私钥必须牢牢绑定在硬件上，不可轻易复制或导出，否则就和一个普通的密码无异了。因此，目前 passkey 的迁移和同步通常都是厂商在自己的生态内通过加密传输实现的，很难互相打通。这就导致了 passkey 经常受到的一种批评：明明是为了通用和便捷而采用的技术，反而造成了更多的封闭和麻烦。 macOS 26 和 iOS 26 引入的一些新变化，显示出这些问题得到改善的迹象。WWDC25 讲座《 通行密钥更新 》提到，通过一项与 FIDO 联盟（一个成立于 2013 年，旨在制定和推广身份验证标准的产业协会）成员合作的标准化数据格式，现在可以安全地在密码管理器之间迁移。迁移过程中，无须向磁盘导出任何不安全的明文密码，数据完全在应用之间传输。 你目前已经可以在 iOS 26 上尝试这个功能。首先，安装第三方密码管理器 Bitwarden，这是目前唯一 正式支持 接收 Password app 导出数据的第三方工具。然后，在自带的 Password app 中点击右上角的「…」，选择 Export Data to Another App。从列表中选择要导出的条目，再选择导出到 Bitwarden。经过 Face ID 验证后，就可以在 Bitwarden 中看到结果了。整个过程不需要导出外部文件，也不需要在应用之间来回切换。 （macOS 上的 Password app 也有相同功能的菜单项，但本文写作时暂时还没有发现能显示在导出选项中的第三方工具。不知为何， iOS 和 macOS 的用户手册都完全忽略了这项新功能。） 要支持这项新的导入和导出体验，第三方应用需要支持 iOS/macOS 26 的新增 API ASCredentialExportManager 和 ASCredentialImportManager 。不过，如上述 WWDC 讲座所介绍，这些并不是苹果独自发明的，而是对一项通用标准的实现。 根据这项名为「凭证交换协议」（Credential Exchange Protocol, CXP）的标准，新旧两个密码管理器可以根据这样的流程来安全传输凭证： ┌──────────────────────────────────────────────────────┐ │ Authorizing Party │ └─────┬──────────────────────────────────────────┬─────┘ │ (2) Determine (1) Create Export │ Migration Key Request ┌────────────┴──┐ ┌────┴──────────┐ │ ◀─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ┤ │ │ │ │ │ │ │ │ │ │ │ │ │ │┌─────────────┐│ │ │ ││ (3)Encrypt ││ │ │ ││ Credential ││ │ │ ││ Data ││ │ │ │└─────────────┘│ │ │ │ │ (4) Send Export Response │ │ │ │─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ─ ▶┌─────────────┐│ │ │ ││ (5) Decrypt ││ │ │ ││ Bundle ││ │ │ │└─────────────┘│ │ │ │ │ │ │ │ │ │ │ │ │ │ │ │ │ │ Exporter │ │ Importer │ │ │ │ │ └───────────────┘ └───────────────┘ 用通俗的话来描述： 导入方（新密码管理器）创建一个导出请求，其中包含请求范围、自己的公钥、加密配置以及一项身份验证等； 导出方（旧密码管理器）收到请求后，提示用户授权。获得用户同意后，用导入方的公钥和自己的私钥计算出一个加密密钥，用来加密导出的凭证数据。同时，在导入方发来的身份验证上签名，以证明自己的身份； 导出方将加密的凭证数据、自己的公钥以及对身份验证的签名回复打包成一个导出响应，发送给导入方； 导入方收到响应后，验证签名，确认导出方的身份。然后，使用自己的私钥和导出方的公钥，独立计算出加密密钥，进而解密凭证数据，解析后存入自己的数据库中。 可以看出，这个机制的一个优势在于加密密钥无需传输，而是由双方独立计算得出。这确保了即使传输过程被拦截，攻击者也无法解密凭证数据。 此外，CXP 还支持多种导出「模式」来适应不同的场景。iOS 和 macOS 此次新增的导出功能属于「直接传输」（direct）模式，也就是两个应用通过 API 直接通讯并传输响应。而如果涉及跨设备迁移等无法直接传输的情况，也可以使用「间接传输」（indirect）模式，让旧应用将相应内容存储为一个加密文件，然后手动导入新应用。最后还有一种特殊的「自传输」（self）模式，本质上就是一种安全备份功能，可以将凭证数据导出为加密文件，以便日后恢复。 解决了传输安全性的问题，还要考虑如何实现不同应用之间的格式兼容。这就是与 CXP 配套的「 凭证传输格式 」（Credential Exchange Format, CXF）要解决的问题。CXF 实际上提供了一套用 JSON 来描述凭证信息的通用模板，它的顶层结构大概长得像这样： { &#34;version&#34;: { &#34;major&#34;: 1, &#34;minor&#34;: 0 }, &#34;exporterRpId&#34;: &#34;exporter.example.com&#34;, &#34;exporterDisplayName&#34;: &#34;Exporter app&#34;, &#34;timestamp&#34;: 1705228800, &#34;accounts&#34;: [ { &#34;id&#34;: &#34;DZSXp7iBQY-Fg-OofakQtQ&#34;, &#34;username&#34;: &#34;jane_smith&#34;, &#34;email&#34;: &#34;jane.smith@example.com&#34;, &#34;fullName&#34;: &#34;Jane Smith&#34;, &#34;items&#34;: [ { &#34;id&#34;: &#34;9OF-QjVDQo2Wp2xWPw6ZhA&#34;, &#34;creationAt&#34;: 1705142400, &#34;modifiedAt&#34;: 1705228800, &#34;title&#34;: &#34;GitHub Login&#34;, &#34;scope&#34;: { &#34;urls&#34;: [&#34;https://github.com&#34;], }, &#34;credentials&#34;: [ // ... ] }, // ... ], &#34;collections&#34;: [ // ... ] } ] } 可以看出，数据的开头给出了格式版本、导出方信息和时间戳等信息，然后是一个 accounts 数组，其中包含了此次导出的一或多个用户账户，是导出数据的核心。 accounts 的内部是一个三层结构：",
          "summary": "iOS 26密码导出功能和Pixel 5G网络启用方案因技术问题被封堵。苹果在系统更新中引入密码管理工具，但迁移困难，因导出格式不兼容。WWDC25提到通过CXP标准实现跨应用安全传输凭证，无需导出文件，支持直接API传输。同时，CXF格式为兼容性问题提供解决方案，确保数据加密和传输安全。",
          "sourceUrl": "https://sspai.com/prime/story/inside-release-notes-251016",
          "publishedAt": "2025-10-16T09:56:24.000Z",
          "author": "少数派编辑部",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "新玩意 223｜少数派的编辑们最近买了啥？",
          "content": "新玩意 223｜少数派的编辑们最近买了啥？ 主作者 关注 少数派编辑部 少数派成员 少数派编辑部官方账号。 少数派编辑部 关注 少数派编辑部 少数派成员 少数派编辑部官方账号。 联合作者 关注 少数派编辑部 少数派成员 少数派编辑部官方账号。 少数派编辑部 关注 少数派编辑部 少数派成员 少数派编辑部官方账号。 17:46 关于栏目 很多读者都会好奇少数派的编辑们到底平时都「买了啥」。我们希望通过「编辑部的新玩意」介绍编辑部成员们最近在用的新奇产品，让他们自己来谈谈这些新玩意的使用体验究竟如何。 内容声明：《新玩意》栏目如含有商务内容，将会在对应条目标注「广告」；来源为「厂商送测」的产品并无内容干涉。 @Tp：PSP Go 参考价格：¥750 把时间拨回 11 年前，那时候还在上高中的我，陆续攒钱买了曾经爱而不得的掌机。那时候，我萌生出了一个不切实际的幻想，便是把从 GameBoy 到 3DS、PSP 到 PSV 的各种型号都收藏一台。到了现在，看着自己满满一柜子的掌机，这个幻想似乎正在慢慢照进现实。 如果要我在这些掌机里挑一个设计最「精致」的设备，那么 PSP Go 一定会是我的不二之选。合盖情况下，正面只有屏幕和扬声器，这样的设计即便放在今天来看也丝毫不显过时。而 PSP Go 的屏幕也是我认为 PSP 全系列中观感最好的一块屏幕，在分辨率不变的情况下，因为屏幕尺寸缩小了，以至于 PSP Go 的屏幕在视觉观感上会更加细腻。尽管 PSP Go 并没有采用全贴合屏，但内外屏之间的距离极小，画面观感比常规尺寸的 PSP 还是要好上不少的。 不仅如此，PSP Go 相比常规 PSP 还新增了蓝牙（虽然只是蓝牙 2.0）和暂时中断的功能，尤其是暂时中断功能，在一些需要反复刷素材的游戏中非常实用，可以作为即时存档功能的替代品。 这其实并不是我的第一台 PSP Go 了，早在 10 年前，我就入手过一台 PSP Go，并且用它陆续通关了《428：被封锁的涩谷》《弹丸论破》等游戏。但后来由于某些原因把它出掉了，直到前段时间才在女友的支持下重新入手了一台成色不错的 PSP Go。 要是只把 PSP Go 当一个藏品，它的设计的确总能惊艳到我。但追求轻薄和小尺寸所带来的后果就是相对糟糕的游戏手感。如果只是玩回合制游戏，或是一些 GalGame 倒还好，可一旦要玩比较考验操作的游戏，那么 PSP Go 作为一台游戏设备的手感并不算太好。 客观来说，在 2025 年的当下，买一台 PSP 实机除了还童年债以外，几乎无法给你带来更多的价值。不同于 NDS、3DS 等设备，PSP 本身在硬件上并没有特别的地方（甚至连 PSV 都有背触以至于无法完美模拟实机体验）。PSP 的模拟器早已成熟，用更现代的设备不但可以开启多倍分辨率获得更好的画面观感，即时存档等功能也能极大地提高游戏效率。 但是，将掌机捧在手里，在最原始的平台上玩到那些经典游戏的心理满足感，对我来说是任何模拟设备无法比拟的。这也正是即便现在有很多更「现代」的游戏方案，我依然选择淘老掌机来玩的原因。 @Microhoo：DJI OSMO Nano 参考价格：¥1698（国补后） 孩子（干儿子）妈想要不落俗套地晒娃，在我的强烈要求下删掉美图秀秀后从技艺到灵性都突飞猛进，也开始主动去了解各种新奇有趣的拍摄方式。于是在晒娃这个赛道上我已经渐渐跟不上她的角度，至少红极一时的「蚊子视角」是她推荐后我才知道。但那会儿的拍摄设备选择只有 insta360 的 GO3S，我曾体验过这台机器，尽管是从产品形态巧思到影像规格都非常令人敬佩的产品，但受限于传感器尺寸在暗光表现下非常捉襟见肘，自然有碍于多是室内逆光拍摄的「蚊子视角」。彼时无论迭代产品还是大疆即将入局都传得沸沸扬扬，我就让她多等等。 最近 insta360 GO Ultra 和 DJI OSMO Nano 都已经问世，选择 OSMO Nano 有两个原因，其一是看到网上一些实机分享，方形设计的 GO Ultra 安装在帽檐上拍摄不如条形的 OSMO Nano 便利和隐秘——后者主要是为了不吸引小朋友注意力；其次 GO Ultra 不内置机身存储，倒不是舍不得这点内存卡的钱，只是既然是追求小巧的设备，还要额外插卡多少有点返璞归真了。总而言之，考虑到孩子妈的重点需求，OSMO Nano 是最合适的选择。 庆幸这个决定非常正确，因为小朋友还不足两岁，尚不是可以听指挥的年纪，而相对无感的条形 OSMO Nano 已经会被他突如其来的注意力一把扯掉，就很难想方形 GO Ultra 的存活时间。所以如果你的使用场景主要围绕这般自由洒脱的小宝，我是推荐 OSMO Nano 更多一些。于是，孩子妈也如愿以偿得到了她在朋友圈获赞无数的「蚊子视角」。 因为 GIF 压缩的原因，画质不堪大家看个乐就行，又因为孩子妈是完全没有影片拍摄经验的新手鼓捣，角度、光线等都还有很大的进步空间，祝她越来越好。也感谢互联网和这些不设限的数码厂商，相比我只能对着傻瓜相机呲牙咧嘴的小时候，现在时间过得很快，但我们留下它的方式也更多了。 考虑到可能有的朋友没有接触过拇指相机，所以也唠两句 OSMO Nano 机器本身吧。Nano 和 Action 这样的运动相机最大区别就是它的摄像头模组为可拆卸设计，一种使用场景是前面那样受益于小巧机身，用穿戴或配件固定等方式拍摄常规大型设备比如手机、相机等不易获得的创意视角；另一种使用场景则是手持作为监视器使用，两两配合更自由地完成更灵动的画面。 就我比较主观的感受，如果说 Action 类运动相机是最理想的第一人称视角拍摄设备，那么 OSMO Nano 则能远超期待的完成各种第三视角拍摄，尤其是你单兵作战时。 最大的功臣除了各种意想不到的外挂配件，还有 OSMO Nano 摄像头模块内置强磁铁，所以你可以吸附在任何磁性金属表面，好固定，也有好视角。其次则是大疆强大的产品力了，GO3S 不过一年前问世，彼时尽管如传感器、拍摄规格等略不尽如人意，但已经是我认为这类相机的极限了；但仅隔一年问世的 OSMO Nano，差不多就是如今手持最新影像旗舰手机回望十几年前 500 万像素「高清摄像头」的感觉。 OSMO Nano 有 1/1.3 英寸的 CMOS 和最高 4K/120fps 的最高影像规格，虽然没有作过严谨测试，但实际拍摄效果与当下的运动相机相比已经不落下风。尽管 90 分钟（官方数据，加上图传模块最长 200 分钟）的续航时间稍有不足，但对于创意视角拍摄和中轻度 Vlog 记录也绰绰有余了，主要这可是一个只有 52g 的拇指相机（图传模块 72g），很难想。 不过参数并不是最重要的，正如毫无经验的孩子妈下个 app 鼓捣几下就能拍出尚且不错的创意视频，OSMO Nano 的意义多是赋予更多普通人记录生活、把时间具像化的能力。网速很快，世界太吵，流淌的时间被截取成生动的珍藏，除了博君一笑，更是点点滴滴存在过的骄傲。 @北鸮：DxO ONE 打印外壳 参考价格：¥104 得益于 富士 X half 的神秘定价， DxO ONE 这个怪咖老相机又被人抬了出来并委以重任，凭借同样是一英寸的底成了「四千多块相机的平替」。这相机最大的毛病就是不连手机单独使用时不好握持，快门键在机顶，竖握不太稳定。但多亏它便宜（而且因为直出效果一般，炒了一圈热度后反而更便宜了），这波热度让几位 3D 打印玩家也注意到了这个玩意，做了好几种看起来都有点道理的打印外壳。平常一直在用正常相机的我冷落 DxO ONE 多时，就搞了一个来玩玩。 我选了一个形态相对保守的款式。壳子整体精度不错，装配只需要简单调整。相机顶带有一个冷靴口，给没配手机的 DxO ONE 添上了外置补光。快门杆弹性有余硬度不足，基本可以把快门按键的两段手感传导过来。底部补了一个 1/4 螺口——这个我倒完全没用过，把它固定在三脚架上多少有点幽默。外壳不会影响连接手机，不过上了这个壳子后我基本也就没连过手机了，一手端着握把稳稳当当，成品几率大大增加。 虽然体积大了一点，能让这个玩具多点实用性也是好事，至少随手拿出门不用只等晴天了。跟被迫对标的半格相机比，这个半截相机的直出画面确实是不够看，我就设成了必开 RAW，权当训练自己学调色了，不过仍然无法改变它对焦一般、取景困难的问题，只是变成了一个更好玩的玩具相机。回头玩腻了，再换个别的造型的壳子，又能当新相机玩上一阵。 直出 JPG，已经比我之前动不动就拍糊好太多了 @Lotta：可口可乐唇膏 参考价格：¥29 可能因为秋天到了，我的嘴唇最近经常干裂甚至流血，除了笑起来有点痛之外我也没太放在心上，但亲友看不下去勒令我速速买一个唇膏。其实我平时不是很喜欢涂唇膏，因为总觉得每次喝水都会喝掉一些，四舍五入像在吃唇膏，于是想着从网上看看，选来选去拖几天这件事也许就被抛到脑后了。没想到亲友直接打开外卖软件点开屈臣氏让我选，不仅有常规的草莓、柑橘、薄荷、椰子味，还有定胜糕桃花红豆味，甚至可口可乐味。 这个可口可乐唇膏实在太吸引人了，大家请看图： 谁能拒绝一杯插好吸管的冰可乐呢！ 这款 LiP SMACKER 和可口可乐的联名唇膏的外形就是一杯冰可乐，杯身镭射表面、冰块晶莹剔透，就算是作为模型摆件也绰绰有余，而它 7.4g 的净含量配上 29 元的价格也很便宜，再加上我对唇膏的功效没什么要求，所以一眼就选中了它。摆在工作台上，看到开心了就拿起来涂一涂，至少可以避免嘴巴干的时候舔嘴唇让起皮更严重。 白色的杯口以上其实就是唇膏盖子的部分，旋转就可以拧开，关闭时听到「咔哒」一声就拧紧了。膏体也在盖子的部分，是子弹头的形状，杯身是空的，打开后手持盖子直接涂抹即可。膏体气味往好里说是可口可乐软糖的味道，往坏里说也有点像橡皮泥，但上嘴之后就基本闻不到任何气味了，所以使用起来影响不大。唇膏上嘴无色，薄涂一层也不会有很油腻的感觉，使用体验良好。 除了可口可乐款，这个系列好像还有芬达、雪碧等多个款式，甚至还和迪士尼有联名款，感兴趣的朋友可以自行搜索。 我们近期开通了新玩意的社媒帐号，更有更多新奇产品和服务以视频方式呈现，快来关注我们吧！ 如果你也想分享「新玩意」🔉： 获取 Matrix 社区写作权限并签署 Matrix 共创计划 ； 新发布一篇文章，在标题中标注「新玩意」前缀； 用至少 800 字介绍产品，并配上 2-3 张产品的实拍图片； 在网站个人信息中补充支付宝账号。 成功入选本栏目还可以得到 108 元的「剁手红包」🧧。如果你有兴趣参与，就赶紧来稿吧！ 下载少数派 客户端 、关注 少数派公众号 ，了解更多的新玩意 🆒 特惠、好用的硬件产品，尽在 少数派 sspai 官方店铺 🛒 7 2 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布 本文责编：@ Microhoo © 本文著作权归作者所有，并授权少数派独家使用，未经少数派许可，不得转载使用。 # 编辑部的新玩意 7 等 7 人为本文章充电 扫码分享 举报本文章 少数派编辑部 少数派编辑部官方账号。 关注",
          "summary": "摘要：编辑部成员讨论新玩意选购，PSP Go（屏幕细腻、蓝牙功能）和DJI OSMO Nano（创意拍摄、轻便设计）获用户好评。可口可乐唇膏用户反馈良好，合作要求包括发布文章、签署Matrix计划。",
          "sourceUrl": "https://sspai.com/post/103144",
          "publishedAt": "2025-10-16T09:46:32.000Z",
          "author": "少数派编辑部",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "借助捷径，不写代码也能玩转 Quote/0",
          "content": "借助捷径，不写代码也能玩转 Quote/0 主作者 关注 千里之豪 少数派作者 https://gadore.top 千里之豪 关注 千里之豪 少数派作者 https://gadore.top 联合作者 关注 千里之豪 少数派作者 https://gadore.top 千里之豪 关注 千里之豪 少数派作者 https://gadore.top 15:38 墨水屏一直是我非常偏爱的产品形态：低功耗、不依赖背光，同时具备可刷新特性，几乎天生就是为信息看板而设计的。遗憾的是，我并非硬件工程师出身，始终没能亲手做出一块完全符合自己需求的墨水屏。 几年前，我购买了两块超市电子价签，并在好奇心的驱动下，逆向分析出它们的蓝牙通信协议，由此写下了 《抓包解协议，代码造布局：电子墨水价签改造 NAS 监控屏小记》 。 也正因如此，当 Quote/0 出现时，我格外期待。它在官方丰富模板之外，还提供了更灵活的数据更新方式，可以直接通过苹果的捷径（Shortcuts）进行扩展，让墨水屏的玩法不再局限于预设场景。 如何驱动 Quote/0 更新 要在日常中使用 Quote/0，主要依赖以下三点： 对捷径 App 的基本操作（Shortcuts） 官方或第三方 App 对 Siri Intent 的支持 Quote/0 的设备码和 API Key 通过这些条件，就能构建出灵活的自动化更新方案。下面以几个场景为例。 场景一：日程提醒 捷径 + 日历 App + Quote/0 文字 API 苹果自带的日历应用可以与捷径配合，获取即将到来的日程信息，再通过 Quote/0 展示在墨水屏上。 iOS 日历日程安排，在 Shortcuts 里用来请求更新 Quote/0 效果示例： 场景二：节假日查询 捷径 + 休息日 App + Quote/0 文字 API 「休息日」是一款提供节假日信息查询的 App，全面支持 Siri Intent。通过配置捷径触发流程，可以快速获取节假日安排并同步到 Quote/0 。 休息日模板 - 复制上一个配置 - 休息日提供的 Siri Intent 示例效果： 场景三：生日 / 纪念日提醒 捷径 + 唯记 App + Quote/0 文字 API 「唯记」是一款专注于生日和纪念日提醒的 App，同样支持 Siri Intent 调用。借助捷径，你可以灵活获取倒数日信息并投放到墨水屏。 效果示例： 自动化轮播 在捷径 App 中切换到底部的 「自动化」 标签，点击右上角 「添加」 ，选择 「特定时间」 后，绑定之前配置好的快捷指令。接着，可以根据需求设置不同时间段展示的不同信息。 这样一来， Quote/0 就能与手机信息保持同步，实现自动摘要与定时轮播，让它真正成为一个动态更新的桌面信息小组件。 iOS 捷径自动化配置 进阶玩法：图片 API 文字展示并不是终点。 Quote/0 更强大的能力在于 图片 API 更新 。在 Node.js 环境下，可以使用虚拟 Canvas （无需借助浏览器或客户端）动态生成画布，并输出图片，再推送到墨水屏，实现更丰富的视觉效果。 例如下图的黄金走势图： 相关示例代码已更新至 GitHub 仓库 ，供参考与拓展。 写在最后 Quote/0 的出现，让墨水屏的使用方式变得前所未有的灵活。通过捷径、Siri Intent 和 API 的结合，每个人都可以根据自身需求，快速定制出独一无二的应用场景。 当然，这种玩法也高度依赖应用开发者对 Siri Intent 的 适配 ，如果没有适配，就只能走写代码这条老路了，但借助 AI 大模型，现在好像也不是不可逾越的高墙了，勇敢的少年啊，赶紧去尝试吧～ 下载少数派 客户端 、关注 少数派公众号 ，了解更多的新玩意 🆒 特惠、好用的硬件产品，尽在 少数派 sspai 官方店铺 🛒 6 1 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布 本文责编：@ Lotta © 本文著作权归作者所有，并授权少数派独家使用，未经少数派许可，不得转载使用。 # 快捷指令 # iOS # 生活方式 # 硬件 6 等 6 人为本文章充电 扫码分享 举报本文章 千里之豪 https://gadore.top 关注",
          "summary": "借助捷径，无需编写代码也能实现Quote/0的灵活扩展。通过Shortcuts快捷方式结合Siri Intent和API，可实现日程提醒、节假日查询、生日提醒及自动化轮播等功能，同时支持图片API生成动态内容。这种创新方式让墨水屏功能更贴合用户需求，开发者需适配Siri Intent实现，但借助AI模型已突破传统限制。",
          "sourceUrl": "https://sspai.com/post/102845",
          "publishedAt": "2025-10-16T07:38:47.000Z",
          "author": "千里之豪",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "一起共创｜我们想打造一个墨水屏体验空间，让数字生活回归「纸感」",
          "content": "一起共创｜我们想打造一个墨水屏体验空间，让数字生活回归「纸感」 主作者 关注 新奇冒险家 少数派成员 还没有介绍自己 新奇冒险家 关注 新奇冒险家 少数派成员 还没有介绍自己 联合作者 关注 新奇冒险家 少数派成员 还没有介绍自己 新奇冒险家 关注 新奇冒险家 少数派成员 还没有介绍自己 11:00 Quote/0 摘录的持续火热帮助少数派敲开了墨水屏的大门，我们开始逐渐意识到有很多的用户对于墨水屏产品的喜爱。随着信息的爆炸，越来越多的人开始追求更专注、更沉浸的数字生活方式。墨水屏设备凭借其接近纸张的观感、保护视力的特性以及天然的「去干扰」属性，正成为这股浪潮中的理想之选。 站内可以搜索出上百篇关于「墨水屏」的文章 在少数派，从 Matrix 社区广场到会员社区讨论，我们积累了大量关于墨水屏产品的评测、技术探讨和使用分享，这里已然成为了一个活跃的墨水屏爱好者社群。然而，市面上的墨水屏产品五花八门，不同品牌在显示效果和系统交互上的差异巨大。用户仅凭线上的文字和图片，往往难以做出准确的购买决策。 正是基于对「高效、健康、沉浸式」生活方式的共同追求，以及对用户「亲身体验」需求的深刻理解，少数派决定与专业的墨水屏社区——暖风家联手，将线上的理念和产品，具象化为一个可以触摸、可以停留的线下空间： 少数派✕暖风家 墨水屏线下体验空间 应运而生。 少数派深圳后海汇线下店：效率理念的实体化展示 少数派深圳后海汇线下店 少数派一直致力于推广「高效工作与优质数字生活」的理念。我们位于深圳后海汇的线下店，不仅是各种新奇好物产品的展示地，更是一个思想交流的场所。在这里，我们定期举办各类有趣的活动，它是少数派效率生活理念的实体化空间。 为了提供更完善的体验，我们近期大幅丰富了线下店的产品线，引入了更多注重体验和交互的产品。而此次，我们将在店内开辟一个 专属的墨水屏体验区 。我们将努力营造出一种平静、专注的氛围，提供一个没有干扰的环境，让用户能真正沉浸其中，感受回归纸面的「专注力量」。 暖风家：18 年墨水屏领域专家 暖风家作为国内知名的墨水屏专业社区，是国内电子阅读器市场的核心渠道与战略合作伙伴，目前是文石（BOOX）、掌阅（iReader）、汉王（Hanvon）、大我（Bigme）、大上（DASUNG）、墨案（MOAAN）等头部品牌及众多消费电子品牌的核心代理商。 暖风家已经在上海和长沙开设了两个墨水屏体验空间，他们的专业优势体现在： 深度产品理解： 对不同品牌、尺寸、技术路线的墨水屏设备有深入的评测和对比经验。 个性化服务： 能够根据用户的阅读习惯、工作需求和预算，给出专业、中肯的推荐建议。 这次与少数派的合作，是优质内容平台与垂直产品专家的强强联合。我们确保每一个来到体验空间的用户，不仅能接触到市面上最好的产品，还能获得最专业的解答。 打造体验空间的价值：打破「盲选」壁垒 墨水屏展示空间概念图 建立墨水屏线下体验空间，我们希望能解决用户的实际痛点，提升选购体验。其中最重的价值有两点。 一站式对比，消除选购盲区 墨水屏产品的核心参数（如屏幕刷新率、背光均匀度、手写延迟、系统开放性）很难仅凭线上描述了解清楚。在体验空间，我们将系统陈列市面上主流的阅读器、墨水屏平板乃至墨水屏显示器。用户可以： 亲手对比手写： 体验不同设备的手写笔触、延迟感和压感。 观察屏幕细节： 在自然光和不同亮度的背光下，观察屏幕的细腻度和均匀度。 体验系统交互： 现场操作不同品牌的系统，感受其在工作流和笔记功能上的差异。 沉浸式场景，融入日常生活 我们不希望这里是简单的产品陈列，而是模拟了用户真实的阅读、学习和办公场景： 阅读角： 舒适的单人沙发和柔和的暖光，让用户在最放松的状态下，感受墨水屏纯粹的阅读体验。 办公区： 将墨水屏设备作为副屏或高效笔记工具，让用户体验如何将其无缝融入到日常工作流中。 我们希望用户感受到的，不仅是一款电子产品，而是一种理想的、专注的生活方式。 诚邀共创：一起「玩转」墨水屏空间 我们相信，最好的体验空间是开放和不断成长的。因此，我们诚挚邀请所有用户，一起来定义这个空间的「玩法」！你可以在评论区告诉我们你的想法（任选一即可）： 你最希望体验到哪些类型的墨水屏设备？阅读器，显示器或者像摘录一样的新概念设备？说说为什么你喜欢它。 你最希望线下空间提供什么服务？咖啡角，墨水屏设备借阅或者拍照区？说说你为什么需要它。 你最希望在线下空间举办哪些类型的活动？墨水屏新品发布会，技术分享论坛或者其他好玩的活动。告诉大家你热爱这些活动的原因。 此外也欢迎加入墨水屏空间共创微信群，让我们一起进行更深入的互动与交流。 互动奖励： 我们会定期筛选优质、有洞察力的内容和有趣的「空间玩法」，并赠送少数派和暖风家联合提供的精选周边。你的想法可能会真正改变线下专区的面貌！ 我们希望使用少数派的效率方法论，加上暖风家的专业产品知识，再结合你的创意与反馈，共同为你打造理想的数字生活专区。 欢迎您来，亲自感受这份回归纸面的专注与平静。 11 5 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布 本文责编：@ 克莱德 # 少数派共创 11 等 11 人为本文章充电 扫码分享 举报本文章 新奇冒险家 还没有介绍自己 关注",
          "summary": "少数派与暖风家联手打造墨水屏线下体验空间，通过沉浸式设计解决用户选购盲区，提供手写对比、屏幕细节观察及系统交互体验，鼓励共创互动。线下空间融合高效理念与墨水屏产品，邀请用户参与共创，打造数字生活回归纸感的体验空间。",
          "sourceUrl": "https://sspai.com/post/103108",
          "publishedAt": "2025-10-16T03:00:00.000Z",
          "author": "新奇冒险家",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "派早报：Apple 更新 M5 系列新品、荣耀发布 Magic 8 系列手机等",
          "content": "周四 16 派早报：Apple 更新 M5 系列新品、荣耀发布 Magic 8 系列手机等 你会考虑入手新款 Apple Vision Pro 吗？ 早报速览 Apple 更新 M5 系列新品 4 荣耀发布 Magic 8 系列手机等新品 6 OPPO 发布 ColorOS 16 操作系统 7 拓竹发布 3D 打印机新品 P2S 2 拜雅推出入门级监听耳机 DT 270 PRO 0 微软承诺通过严格的 WHCP 政策改进 Windows 驱动程序 0 Apple 更新 M5 系列新品 10 月 15 日，Apple 公司在其网站上直接发布了三款搭载 M5 芯片的设备，分别是 iPad Pro、14 英寸 MacBook Pro 和 Vision Pro，三款设备均搭载 M5 基础版。 新款 iPad Pro 最高采用 10 核 CPU 和 10 核 GPU，内存带宽最高可达 153GB/s，256G 和 512GB 版本标配 12GB 内存AI 性能比上一代提升最高 3.5 倍，图形处理能力提升最高 45%。产品可以在 30 分钟内快速充电至 50%，内置的 C1X 芯片带来了 802.11be 网络支持和蓝牙 6 等连接能力。产品售价 8999 元起。 14 英寸 MacBook Pro 同样搭载 M5 芯片，配备 10 核 CPU 和 GPU。新款 MacBook Pro 支持更快的存储速度和更长的电池续航，内存最高可选 32GB。产品售价 12,999 元起。 Vision Pro 本次也升级版了 M5 芯片，提供更强大的图形处理和 AI 能力，支持 visionOS 26 操作系统。新款 Vision Pro 还采用了全新的双圈编织头带，提升佩戴舒适性。产品售价 29,999 元起。 双圈编织头带外观图，图片来自 Apple 以上新品均将于 10 月 17 日上午开启预购，10 月 22 日正式开售。 来源 ipadmini 高刷能上吗 iPad软件什么时候能跟上，硬件都升级到M5了，拔剑四顾心茫然啊 被apple收购的Pixelmator Pro现在是被遗忘了吗？新系统图标都没适配 4 3 5 4 荣耀发布 Magic 8 系列手机等新品 10 月 15 日，荣耀在新品发布会上推出了全新智能手机 Magic 8 和 Magic 8 Pro，进一步进军高端市场。 两款手机均搭载 MagicOS 10.0 操作系统。设计方面，Magic 8 配备 6.58 英寸 1.5K 分辨率 OLED 直屏，支持 120Hz LTPO 自适应刷新率与 4320Hz 高频 PWM 调光，峰值亮度在 HDR 模式下可达 6000 nits，全局峰值亮度为 1800 nits；Magic 8 Pro 在基本参数保持相同的情况下，尺寸升级至 6.71 英寸。 Magic 8 系列外观图，图片来自荣耀 影像方面，Magic 8 后置三摄系统，包括 5000 万像素主摄、5000 万像素超广角镜头和 6400 万像素潜望式长焦镜头，支持 3 倍光学变焦；Magic 8 Pro 配备 5000 万像素超夜神主摄，传感器尺寸达 1/1.3 英寸，f/1.6 大光圈并支持 OIS；超广角镜头同样为 5000 万像素；长焦端则配备 2 亿像素超夜神长焦镜头，支持 3.7 倍光学变焦，传感器尺寸达 1/1.4 英寸，可以提升远摄画质与夜拍能力。 Magic 8 Pro 系列外观图，图片来自荣耀 在续航方面，Magic 8 内置 7000mAh 电池，支持 90W 有线快充与 80W 无线快充；Magic 8 Pro 则拥有更大的 7200mAh 电池，并将有线充电提升至 120W。 本场发布会还带来多款荣耀全场景新品。其中，荣耀 MagicPad3 Pro 是全球首款第五代骁龙 8 至尊版平板，支持至多二十个窗口同时运行；荣耀 MagicPad3 12.5 支持荣耀类纸柔光屏；荣耀手表 5 Pro 新增全天无感血压监测，实现二十四小时全面健康守护；荣耀 Earbuds 4 智能耳机采用双镀钛动圈设计，续航时间可达四十六小时。 此外，荣耀还公开了一款 AI 终端设备荣耀 ROBOT PHONE，该产品将会在 2026 年正式亮相。 ROBOT PHONE 概念图，图片来自荣耀 Magic8在同价位打得赢小米17吗。。 这是那款可以拍星轨的么？ pocket 4 honor 版本 据说样张偷的别人的照片（吃瓜） 起猛了，荣耀发布了pocket 4 全部讨论 6 3 4 OPPO 发布 ColorOS 16 操作系统 10 月 15 日，OPPO 公司在其 2025 年开发者大会上正式发布了 ColorOS 16 操作系统。此次更新聚焦于系统性能提升和人工智能交互功能的优化。 ColorOS 16 引入了三大核心技术：极光引擎、潮汐引擎和繁星编译器。极光引擎通过重构 Android 传统的模块化架构，实现一体化无缝绘制与分布式响应调度，有效解决多任务场景下界面卡顿问题；潮汐引擎首次引入芯片级动态追帧技术，与硬件底层协同，提升重载场景下动画流畅度的同时降低功耗；繁星编译器作为安卓领域首个跨级融合编译技术，优化低算力芯片的编译效率，提升中低端机型的系统响应速度。 在 AI 交互方面，ColorOS 16 对 AI 一键闪记进行了重大升级，支持长图文和长视频内容的有效提取、总结和生成结构清晰的AI章节摘要。此外，AI 一键闪记还能实现语音交互记录、自动记帐等功能，提升用户的日常生活效率。 此次系统更新将首发搭载于 OPPO Find X9 系列、一加 15 等机型，预计未来将逐步覆盖更多设备，进一步提升用户的智能手机使用体验。 来源 国内厂商都是取名高手 看了六分超超的视频新系统一股锤味，挺有意思 刚升级了内测版，还没感觉出啥来，就是通知栏里面的每条通知的高度变小了，不太放方便点击了。 全部讨论 7 1 拓竹发布 3D 打印机新品 P2S 10 月 15 日，拓竹品牌推出了 3D 打印机新品拓竹 P2S，搭载了新的 5 英寸触控屏、更强大的处理器，以及第二代屏幕 UI，可以更直观地进行打印交互。 P2S 采用了高分辨率、高频涡流传感器来测量喷嘴压力，智能算法根据测得参数主动调整流速，确保在模型的每一层和每一个角落都能实现一致的挤出。产品还搭载了自适应空气循环系统，可直接从机箱外吸入冷空气，提高冷却效率。打印低温耗材时可以关上 P2S 的舱门，而无需担心悬垂质量问题或堵头。 同时，P2S 还引入了 AI 计算机视觉技术，可主动检测常见的打印问题，如炒面、裹头等。它还会检查打印基本设定，确保安全、准确地开启每个打印任务。 产品采用了快拆热端设计，无需拔插线缆，只需轻轻打开热端锁扣即可磁吸装取整个热端组件；挤出机齿轮和喷嘴都采用硬化钢材质提高耐磨性。P2S 还增强了 LED 照明，可提升实时监控视频和延时摄影的清晰度；搭配高帧率相机和双频 Wi-Fi，用户可以远程监控打印机，并拍摄出更清晰的延时摄影。 产品外观图，图片来自拓竹 产品单机售价 3699 元，多色套装 5199 元。 来源 标准升级吧。支持了更方便更换的喷嘴，支持了更高清的摄像头。但热床换成了热管，可能会加热不均匀。 9月30日刚3399买了p1s，我真是个大冤种 1 1 拜雅推出入门级监听耳机 DT 270 PRO 拜雅 beyerdynamic 于德国当地时间 14 日推出了新款入门级专业监听耳机 DT 270 PRO，售价为 99 欧元。DT 270 PRO 拥有可换丝绒耳垫、录音室级音质等在同档次上少见的特性。此外其采用更紧凑、适应性更强的设计，左右两侧均可插入线材并随附 USB-C 转接线。标称阻抗为 45Ω，频率响应范围 5~24000Hz，在 500Hz 下总谐波失真为 0.04%，标称声压级 96dB，本体重量 194g。 来源 产品外观图，图片来自新闻源 4 微软承诺通过严格的 WHCP 政策改进 Windows 驱动程序 10 月 15 日，微软公司宣布，将通过实施更为严格的 Windows 硬件兼容性计划（WHCP）政策，进一步提升 Windows 驱动程序的质量和安全性。 今年晚些时候，微软将强制推行驱动隔离验证（InfVerif /h），以确保 Windows 驱动包能够抵御外部修改，并且易于安装和更新。另外，WHCP 将正式终止对 Windows 10 的支持，与该系统生命周期结束保持一致。驱动隔离验证规则此前已在 Windows 11 24H2 中引入，并将成为合规认证的强制性项目。 微软同时要求 OEM 厂商和合作伙伴在提交驱动包前务必执行 InfVerif /h 规则检测。该检测会在 Windows 11 25H2 版 HLK 中自动运行，开发者只需确保使用最新版 Windows Driver Kit（WDK）即可。 来源 发表首评 少数派的近期动态 10 月 14 日晚 19:30，MeetCard 正式上线，欢迎来到直播间一探究竟。 进一步了解 少数派 1024 程序员节征文：码上，与鸿蒙一起进击。 进一步了解 少数派 x Khadas 哈达电脑众测活动现已发布，体验新机赢大奖。 进一步了解 你可能错过的好文章 来自中国的年度 iPhone 游戏大奖，Tim Cook 拜访《剑与远征》开发商 黑苹果的黄昏：我用一台七年老本，为它举行最后的葬礼 鸿蒙 1024｜在鸿蒙建一间美术馆，我也登上了更大的舞台 关注 少数派公众号 ，解锁全新阅读体验 📰 实用、好用的 正版软件 ，少数派为你呈现 🚀 6 9 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布",
          "summary": "10月15日，苹果发布M5系列设备，荣耀推出Magic 8手机，OPPO发布ColorOS 16系统，拓竹推出3D打印机P2S，价格及发布时间均公开。",
          "sourceUrl": "https://sspai.com/post/103129",
          "publishedAt": "2025-10-16T00:25:26.000Z",
          "author": "少数派编辑部",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "来自中国的年度 iPhone 游戏大奖，Tim Cook 拜访《剑与远征》开发商",
          "content": "来自中国的年度 iPhone 游戏大奖，Tim Cook 拜访《剑与远征》开发商 主作者 关注 waychane 少数派成员 Finery fanatic. waychane 关注 waychane 少数派成员 Finery fanatic. 联合作者 关注 waychane 少数派成员 Finery fanatic. waychane 关注 waychane 少数派成员 Finery fanatic. 昨天 17:49 继九月底在日本参加 Apple 银座店重新开业后，过了一个国庆假期，Tim Cook 再次来到亚洲；这也是在今年 3 月之后，Tim Cook 本年度的第二次访华行程。在忙碌而紧凑的行程之中，Tim Cook 也没忘记中国的出色开发者们，在 10 月 14 日下午拜访了位于上海市闵行区的莉莉丝游戏办公室。 莉莉丝游戏是跨平台 RPG 游戏《剑与远征：启程》的游戏开发商，游戏以「放置」+「策略」作为主要玩法，主打「轻量日常游玩」+「深度阵容博弈」的核心体验。玩家需要在游戏中抽卡获取角色，围绕职业 / 阵营克制及站位设计队伍，具有较高的策略上限，同时又能以轻松节奏推进游戏进程。 凭借精彩的动作战略玩法和丰富的游戏剧情体验，《剑与远征：启程》突出重围，拿下了 2024 年度 App Store Awards 年度 iPhone 游戏奖项。Tim Cook 此次到访，也毫不令人意外。 在现场，莉莉丝游戏的创始人兼 CEO 王信文带领 Tim Cook 参观了公司办公室，感受了团队工作内外的良好氛围，并向其介绍了莉莉丝游戏的发展历程以及开发《剑与远征：启程》的背后故事。 据了解，莉莉丝游戏于 2013 年在上海市创立，是集游戏研发与全球发行于一体的游戏公司。现在，莉莉丝游戏在全球拥有超过 2300 名员工，并在新加坡、日本、韩国以及美国设有办公室，是中国游戏开发商的出海代表之一。除了《剑与远征：启程》，莉莉丝游戏还有《万国觉醒》《战火勋章》等游戏在 App Store 上线。 《剑与远征：启程》于 2024 年 3 月 27 日登陆欧美地区应用市场、同年 8 月完成全球上线，短时间内就拿下了 App Store Awards 这样的大奖，在听完主创团队的分享并观看了游戏演示之后，Tim Cook 也表示《剑与远征：启程》获奖可以说是实至名归。 游戏制作人何江源表示，《剑与远征：启程》是一款在玩法与画面表现方面都极具特色的游戏，精彩的剧情与丰富的任务系统构成了游戏的出色游玩体验，游戏内的实时光影效果则为游戏增添了更加真实以及根据氛围的游玩感受。 要实现这一切，不仅离不开 A 系列芯片的强大图形与计算能力，也得益于 Apple 对于 Metal 框架、ARM 架构在游戏游玩方面的良好适配与有力支持，《剑与远征：启程》团队才能为玩家带来如此精美与流畅的游戏演绎，并且让用户在 iPhone 和 Mac 上都能畅玩游戏。 当然，由于不同设备存在配置差异，为了让更多用户能够获得流畅的游玩体验、享受游戏乐趣，开发团队会选择在老设备运行游戏时，减弱或关闭部分比较耗费性能的游戏效果。要达到这一目的，Xcode 提供的 CPU / GPU 统一调试能力功不可没，让开发者团队能够迅速从性能方面分析游戏运行时的问题瓶颈，以便有针对性地研发优化调整措施。 除了开发优化，莉莉丝游戏在推广营销方面也花了不少功夫。在游戏于欧美地区公测期间，团队就通过 App Store Connect 提供的数据分析工具展开复盘，发现不同国家与地区的推广需求与特点，有针对性地优化不足之处。此外，《剑与远征：启程》在全球各个国家与地区都曾登上过 App Store 的首页推荐，这对于团队获客和转化也起到了很大的作用。 开发团队也非常重视玩家社区建设，并一直在积极倾听玩家的声音。开发团队不仅会在全球各地持续举办玩家见面交流会，研发人员更是每场都不缺席，直接与会同玩家交流，倾听大家的建议与反馈，游戏中的不少灵感和创意来源就是通过这样的方式落地到了实际游玩体验当中。 听到王信文与主创成员们分享的这些故事，Tim Cook 也为团队感到高兴，也很欣喜看到《剑与远征：启程》能在全球市场取得这么好的成绩。 同时他还表示，iOS 26 全新推出的游戏 app，就是一个希望能帮助玩家们更好地管理游戏、连接好友的工具以及社区，玩家们可以在这里互相竞争、或者看到彼此最近在玩的游戏，希望《剑与远征：启程》以及更多游戏的玩家们，能够在这里收获更多乐趣，通过游戏促进更多友谊。 8 3 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布 # Apple # iOS # 游戏 8 等 8 人为本文章充电 扫码分享 举报本文章 waychane Finery fanatic. 关注",
          "summary": "中国年度iPhone游戏大奖由Tim Cook出席，访问莉莉丝游戏（上海闵行区）开发《剑与远征：启程》游戏，该游戏获2024 App Store年度奖项。莉莉丝公司成立于2013年，旗下涵盖多个游戏，开发团队利用Xcode优化性能并推广至全球市场。Tim Cook评价游戏在玩法与开发支持方面出色，期待iOS 26功能优化及社区互动。",
          "sourceUrl": "https://sspai.com/post/103120",
          "publishedAt": "2025-10-15T09:49:21.000Z",
          "author": "waychane",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "黑苹果的黄昏：我用一台七年老本，为它举行最后的葬礼",
          "content": "黑苹果的黄昏：我用一台七年老本，为它举行最后的葬礼 主作者 关注 王牌猎人 少数派作者 哦~你好 王牌猎人 关注 王牌猎人 少数派作者 哦~你好 联合作者 关注 王牌猎人 少数派作者 哦~你好 王牌猎人 关注 王牌猎人 少数派作者 哦~你好 10/09 21:24 Matrix 首页推荐 Matrix 是少数派的写作社区，我们主张分享真实的产品体验，有实用价值的经验与思考。我们会不定期挑选 Matrix 最优质的文章，展示来自用户的最真实的体验和观点。 文章代表作者个人观点，少数派仅对标题和排版略作修改。 随着 Tahoe 的正式发布，Apple 为 Intel 芯片的老 Mac 们献上了绝版系统，同时也几乎为黑苹果写上了句号。作为一直处于白苹果生态内的用户，也不禁黯然神伤，又是一个时代过去了。我想我应该做点什么，要不就用一场仪式感十足的黑苹果安装，来祭奠这个过去的时代吧。 折腾：从困难重重到打通二脉 家里曾经有一台使用 AMD Ryzen 5600 处理器 + AMD RX 6750 GRE 显卡的台式机，当初为了验证我需要多大的白苹果内存，为购买新 Mac 提供决策依据，在这台机器上找商家付费安装了 Sonoma。按照现在的眼光来看，这台 AMD 台式机离所谓的「完美」还隔着一个太平洋：没有无线网卡，无法完整支持 Apple 生态，例如在白苹果上非常好用的隔空投送；没有触控板，无法使用高效的 macOS 手势等等。 我肯定是不会再把相应的硬件买回来重新组装一部台式机，巧合的是，家里有一台购于 2018 年的 Dell XPS 9360，配置是 i5-8250U，8GB 内存，256GB 固态硬盘，FHD 分辨率的屏幕。 伟大的黑苹果之神，在你离去之际，请接受我用 XPS 献上最后的仪式。 首先开始查找安装教程。经过 Google、小红书、B 站等多个渠道的检索，找到了极为完整的基于 XPS 9360 机型的黑苹果教程，尤其是 B 站上甚至有 UP 主 完整录制了整个安装过程。我信心大增，轻蔑一笑：「这有何难，有手就行。」 黑苹果安装，目前主流方案是基于 Open Core 引导，傻瓜式安装需要这些东西：（1）合适版本的 macOS 镜像；（2）对应机型的 EFI；（3）一个不小于 16GB 的 U 盘。后两个没啥问题，一个基于 Ventura 的 EFI，一个 32GB U 盘。问题却出在第一点要求上，我无法在手头的这些白苹果机型上下载官方镜像去制作引导安装盘，原因令我哭笑不得：我手头的设备全部基于最新发布的 M4 芯片家族，最低支持的版本就是 Sequoia，因此无法在 App Store 中下载 Ventura 官方镜像。 经过一番 Google，尝试了「黑果小兵公众号」等等渠道，几乎找不到不使用百度网盘的镜像，而且这些成品镜像多数使用的是基于 Clover 和 PE 的引导方案，支持 Open Core 的少之又少。更生气的是，我打赏了黑果小兵的公众号企图获得一个带 OC 引导的镜像，但它居然发给我一个已经失效了的网盘链接（还我💰来！十分生气）。于是只能非常不情愿的去开了一个月的百度网盘会员（我真的不想给百度送一分钱），下载了一个支持 OC、Clover、PE 的三引导镜像。使用 balenaEtcher 完成引导盘创建后，删除 U 盘中 EFI 分区下的 EFI 文件夹，放入适配了 XPS 9360 的 EFI 文件夹，重启后看着顺利出现的键盘和鼠标连接提示界面，哼哼，小小黑苹果，拿捏！ 如果你下载的镜像不支持 OC 引导，但 EFI 又基于 OC 引导，怎么办呢？遇事不决，就问 AI，我把问题丢给 AI 后还真的给了我一个答案：基于 Clover 引导的镜像同样会在 U 盘建立一个可引导的 EFI 分区，将其中的 Clover 相关文件删除，放入 OC 的 EFI 文件即可实现 OC 引导。 此时自信满满的我显然还没意识到，为什么这里会出现键鼠连接引导？该界面在教程里从未出现过。我按照使用 M4 Mac mini 的经验，将鼠标和键盘都进入配对状态，等待这台黑苹果自动配对连接键鼠。1 分钟后，我顿感大事不妙：我是在一台笔记本上安装黑苹果，此时蓝牙应当是不可用的状态，而触控板和键盘理应可以正常使用，所以啥情况？？？ 迅速冷静下来，既然内置的键盘和触控板无法使用，咱就用有线呗。于是翻箱倒柜找出来尘封多年的有线键鼠，插上鼠标后顺利识别，熟悉的自我效能感涌现到一半，傻眼了：这电脑就 2 个 USB-A 口，一个插着引导 U 盘，一个插着鼠标，键盘就成了无家可归的浪子。 相比 Air 的接口，XPS 会丰富的多，一个半速雷雳 3，2 个 USB-A，还有 1 个 SD 读卡接口 尽管十分狼狈，我依然沉着思考：既然鼠标已经识别出来，拔掉鼠标换上键盘是否可以「骗」过安装程序？果然如我所料，来到了语言选择界面，YES！为自己点了个赞。后续轮流插拔键鼠（你可以想象一下我的狼狈），完成对磁盘的格式化处理，顺利进入读条环节，随着进度条推进，预估时间的不断减少，我忍不住一声长啸：成了！ 故事发展到这里，没有意外的话就要发生意外了：进度条卡住，预估时间永远的停留在「剩余 12 分钟」。此时，我的表情一定非常精彩。果断强制重启，重来一遍，我很期待奇迹发生，但显然是不可能的。不死心的我重新制作了一遍引导盘，核对了所有 BIOS 设置，依然一样的结果：卡住。 依靠多年来的学习习惯和直觉，我可以断定问题一定在引导盘上。于是重新观看了一遍 UP 主录制的安装视频，我忽然发现，我把 U 盘插在左侧接口上，但是视频里却插在右边，难道这也有讲究？我抱着试一试的心态，重新将 U 盘插在右边，奇迹发生了！不仅键盘和触控板成功识别，直接进入了安装界面，后续的安装过程也再也没有卡住，一如教程里所指示的那样，走完 4 遍进度条后顺利的进入了安装好的黑苹果系统。Dell 科技，震撼人心。 「合适的 macOS 版本」+「对应 macOS 版本的 EFI」= 成功，这套公式被我玩的越发熟练，我还给公司的淘汰主机（Dell Opti 3020MT，i5 4570+HD 4600）装了一个 Big Sur，只是动画效果会不定时出现卡顿。 体验：远不如 MBP 2018（M4 Air） 尽管现在 XPS 9360 拥有了和 MacBook Pro 2018 一样的灵魂，同为 8 代 Core i5 的性能也站在了同一起跑线，但两者的体验依然天差地别。因手头没有 MBP 2018，故屏幕比较环节使用 M4 Air 代替。 XPS 9360 拥有一块 FHD 分辨率的屏幕，在亮度、分辨率、色准、色域上均逊色于 M4 Air，即使强行开启 HiDPI，在显示精细度和观感上依旧不敌 Apple 的 Retina Display。 XPS 上字体明显发虚，M4 Air 则明显精细的多。 XPS 屏幕在亮度、色准、可视角度等全方位处于劣势 触控板是整个黑苹果体验中最出戏的环节。XPS 9360 触控板面积仅为 M4 Air 的 62%，使用多指手势时局促的空间加剧了手部负担；依然沿用传统机械结构而带来的生硬点击体验，而搭载了 Taptic Engine 的 MBP 2018 有着无可匹敌的点击反馈。唯一出乎我意料的是 XPS 上这块触控板居然在 macOS 下完整支持所有手势，从侧面有力地批判了微软在系统层级手势开发上的不思进取。 但是，抛开屏幕和触控板的体验，这台拥有了 macOS 灵魂的 XPS 哪怕放在 2025 年的当下，也依然拥有合格的基本性能体验。从 Geekbench 跑分来看，i5-8250U 单核仅为 M4 的三分之一，多核更是只有五分之一，但在基本办公体验上，两者的差距远没有跑分上这么明显。 使用飞书、Notion 等在线文档，能感受到明显迟钝，需要你多一点耐心，不如 M4 的行云流水，但依然可用。另外在开启网页（例如我派）的速度上，M4 基本可以做到秒开，8250U 则更像是一位老奶奶，慢吞吞地加载页面。Ventura 没有表现出明显的网页兼容性问题。用来做做简单办公，看看 B 站刷刷剧，依然足够胜任。 最后，这台机器受制于 Intel 平台的高功耗和电池衰减，在续航上已经无法与搭载 M 系列芯片的 MacBook 相媲美，甚至可以说只剩零头。在基本空载的情况下，这台机器的预计电池续航也仅剩 3 小时，已经基本无法胜任外带场景。 XPS 自带的 Killer 1535 无法驱动，因此更换成 DW1820A，在 Ventura 下配合相应 Kext 可以完美支持双向隔空投送，可以稳定连接蓝牙鼠标和键盘。但小毛病真的相当多，用起来实在有些提心吊胆。 最后，在习惯了 M 系列芯片 MacBook 的安静，XPS 间歇性的风扇噪音会让人心烦不已。底部散热口的高温正火热地警告你：别把我放腿上使用！依我一家之言，仅凭这一点，所有 Intel 时代的 MacBook 都不值得从闲鱼上购入。 反思：折腾（努力）的意义 仔细回味这段黑苹果折腾之旅，的确值得称道。自从搭载 M1 芯片以后，MacBook 系列在性能、耐用性、可靠性上达到了一个新的巅峰，我享受着这个可靠的工具带给我的效率，但我似乎从来没将它当作一个伙伴，也没有产生任何情感联结。在合适的时候，为获得一个更强的工具，我可以毫不犹豫的卖掉它，随意支配它。 MacBook 只是个工具，而已。 但是这台 XPS 却仿佛有着不可思议的魅力，或者说，是我赋予了它不可思议的魅力。我已经很久很久没有在一台设备上倾注如此多的注意和努力，我的付出换来了对自我的高度评价，唤起了强烈的自我效能感；我的付出也仿佛为 XPS 注入了拟人化的元素，重新焕发了惊人的魅力，吸引着我，撩拨着我。 我会时不时的打开她，认真的清理她身上的污渍和灰尘；轻抚松垮的键盘，敲下本文的一行行文字；贪恋的目光留在因性能不足而弹跳不已的 App 图标上，久久不肯离去；甚至连从扬声器中传出的单薄声音，都显得如此悦耳。 我想，这或许才是这场仪式化行为中最大的收获，也是最意外的收获。 尾音：渐行渐远的造梦引擎 看似我为 XPS 付出大概 2 天的时间就获得了一个接近完美的黑苹果系统，但实际上，依然有着相当多的小毛病。理论上，UHD 620 可以支持 4k 分辨率输出，但基于现有 EFI 只能实现 2k 分辨率，大概率需要修改 BIOS 中的 DVMT 来实现 4K 输出；由于 USB 驱动无法识别外接网口，我只能额外购买可以在 macOS Ventura 下免驱的网卡 DW1820A 来实现无线和蓝牙，但几乎无法连接 AirPods；「先进」的 SD 卡槽也无法使用。为了实现完美的黑苹果，你或许需要投入很多很多时间，如果纯粹是为了乐趣，那或许值得。 若是贪图黑苹果下丰富的硬件资源，例如可以随意添加的内存和硬盘，以及最高支持到 AMD 6950XT 的显卡，那么台式机或许才是实用主义们的白月光。不必受限于 Apple 比金子还贵的内存和硬盘，甚至可以在 AMD 线程撕裂者平台上安装一个黑苹果从而享受无可比拟的性能，加上一张从 iMac 上拆机的 94360 网卡，即可免驱实现 Apple Watch 解锁、随航、隔空投送等等白苹果下的完美生态体验，配合机械键盘、触控板、5K 显示器，这样的主机足以成为任何人的造梦引擎。 随着 Apple 全面转向 ARM，这些黑苹果们将可能会永远的停留在 Tahoe 甚至更老的版本上，最终成为人们心中的回忆，直到被人遗忘，像垃圾一样随意散落在那个落满灰尘的角落。 2025 年 10 月 5 日 20:05 分，我轻轻合上 XPS 的屏幕，像是为它盖上了棺木。黑苹果的黄昏，终于落下了帷幕。 感恩每一位为黑苹果做出贡献的人们，你们的名字会被永远铭记在这段历史中。 参考资料 Open Core ； ChromeBox-华硕CN65安装指引（来自国光大佬） DW1820A无线网卡驱动教程 下载 少数派 2.0 客户端 、关注 少数派公众...",
          "summary": "摘要：作者用XPS 9360为黑苹果系统举行仪式，成功完成黑苹果安装。对比2018年MacBook与XPS 9360，XPS 9360在性能、屏幕、触控板等方面优势显著，尽管存在硬件限制，但最终成功实现黑苹果生态体验。",
          "sourceUrl": "https://sspai.com/post/102899",
          "publishedAt": "2025-10-15T07:03:15.000Z",
          "author": "王牌猎人",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "鸿蒙 1024｜在鸿蒙建一间美术馆，我也登上了更大的舞台",
          "content": "鸿蒙 1024｜在鸿蒙建一间美术馆，我也登上了更大的舞台 主作者 关注 有想法的徐同学 少数派作者 👨🏻‍💻 产品经理 设计师，有个数字化产品工作室📱 作品：Arrrt、NeckGo、小停顿、Daaay、效率控、BodyKnows🌊 苹果 、华为、OPPO、小米等官方应用商店推荐100+次 有想法的徐同学 关注 有想法的徐同学 少数派作者 👨🏻‍💻 产品经理 设计师，有个数字化产品工作室📱 作品：Arrrt、NeckGo、小停顿、Daaay、效率控、BodyKnows🌊 苹果 、华为、OPPO、小米等官方应用商店推荐100+次 联合作者 关注 有想法的徐同学 少数派作者 👨🏻‍💻 产品经理 设计师，有个数字化产品工作室📱 作品：Arrrt、NeckGo、小停顿、Daaay、效率控、BodyKnows🌊 苹果 、华为、OPPO、小米等官方应用商店推荐100+次 有想法的徐同学 关注 有想法的徐同学 少数派作者 👨🏻‍💻 产品经理 设计师，有个数字化产品工作室📱 作品：Arrrt、NeckGo、小停顿、Daaay、效率控、BodyKnows🌊 苹果 、华为、OPPO、小米等官方应用商店推荐100+次 昨天 11:00 利益相关声明：作者与文中产品有直接的利益相关（开发者、自家产品等） 编注 本文是 少数派 1024 程序员节征文 活动的入围文章，如果你也想分享与鸿蒙开发有关的真实故事与深度体验，或是想让更多人看到你的开发作品，不妨 码上投稿，与鸿蒙一起进击！ 你也可以 点击这里 查看本次征文活动的其它投稿。 今年六月，我解锁了人生第一次万人会场的演讲——站在 2025 华为开发者大会的主会场，面向现场上万名观众，分享 Arrrt 和鸿蒙的故事。 我在华为开发者大会的分享 Arrrt App 是我和团队打造的一间线上美术馆。在这里，用户可以每天邂逅一幅名画及其背后的故事，可以观看各种主题特展、了解各类艺术流派，还可以收藏与下载超高清的名画图片。 Arrrt 是一间线上美术馆 2024 年 9 月底，Arrrt 鸿蒙版正式发布，此后我们完成了多次迭代，实现了多端适配，获得了鸿蒙电脑发布会和 HDC 大会的展示机会。 一通差点被挂掉的电话 去年 8 月，我接到了一个陌生电话。 作为一个每天都会被各种推销电话骚扰的创业者，我一般会在 5 秒内挂断这类电话。然而对方第一句话成功吸引了我：他是华为的工作人员，看到我们做过一些有意思的产品并获得过「华为匠心奖」，希望邀请我们开发原生鸿蒙应用。 我略开玩笑地问： 怎么连我们这么小的团队都不放过？ 对方则是耐心地回复说，鸿蒙的应用生态正在越来越丰富，除了一些大产品，也希望生长出更多垂直领域的好应用。他们体验了我们之前做的一些 App，觉得从功能到设计都很符合鸿蒙对高端精致的追求，相信我们在鸿蒙也会有很好的发展，同时鸿蒙也有很多面向中小开发者的支持。 这个电话让我感受到了真诚，也看到了新的机会。我们和鸿蒙的故事由此开始。 一个月建起一间美术馆 打完电话的一周后，我们正式启动了 Arrrt 鸿蒙版开发。 负责鸿蒙开发的老洪表示最开始有点压力，毕竟要接触一个新的平台。但安装好官方的 DevEco Studio 后，发现界面设计还挺友好，用起来也很畅快，马上安心很多。 「花了 1 小时看官方组件说明和 ArtTS 语言语法，就能开始动手开发了。」这是老洪的原话。 得益于 ArtTS 的完善代码库和 IDE 的智能代码提示，老洪的开发效率很高。遇到一些高级或原生功能问题，官方文档提供了详细的说明和代码示例，基本都能快速解决。 鸿蒙对中小开发团队的重视也是超预期的，工作人员建立了专门的支持群组，开发、测试、上架的每个环节，我们提出问题，都能及时获得解答和协助。 最终我们只用了一个多月，就把鸿蒙开发和上架都搞定了。 上架之后 上架不久后，我们获得了 AppGallery 的首次推荐，编辑选了一个有意思的推荐主题： 艺术家眼中的猫 。 这个主题来自 Arrrt 的一场特展——我们不仅每天分享画作，还会根据季节、节日、热点，持续策划各种有趣的线上特展，比如夏天有「去海边」，冬天有「雪落成画」，妇女节有「了不起的她」，国际猫咪日有「艺术家的猫」。 App Gallery 的推荐 这个有趣的推荐角度，帮我们吸引到了一批精准的鸿蒙用户。很多用户给我们留言，表示在鸿蒙看到 Arrrt 这样一个充满艺术气息的 App 非常惊喜。我们也收到了很多用户的建议，这给了我们持续迭代的灵感和动力。 其中有一条留言让我记忆深刻： 赶紧上服务卡片吧，我的手机桌面，有一个位置是专门留给 Arrrt 的。 小小的手机桌面，某种程度上也算是「寸土寸金」了，有人留了一大块面积给你放服务卡片，那当然要安排了。 借助鸿蒙完善的卡片开发框架，我们在几天后就实现了这个功能。把服务卡片添加到桌面，就像在手机屏幕上开了一扇任意门，哪怕没时间打开 App，也能欣赏东西方艺术大师的杰作，通往艺术世界享受片刻闲暇。 和鸿蒙电脑一起亮相 Arrrt 在鸿蒙还有一个重要的突破： 实现手机、平板、电脑的多端适配 。 鸿蒙丰富的智能终端生态，对开发者而言意味着更大的用户规模，对用户而言意味着无缝切换的多端体验。我们一开始就规划了这一步，总觉得是一件工作量很大的事，但是在了解鸿蒙「一多适配」的技术能力后，发现实现起来完全可以「事半功倍」。 借助鸿蒙的多端响应式布局体系，我们实现了一次开发、多端部署，避免了重复开发；借助断点布局能力，轻松完成了多尺寸屏幕的 UI 适配。同时，上架审核也不必分开提交，一次即可搞定。 仅仅一个月左右的工作量，我们就完成了平板与电脑的适配。 现在，鸿蒙用户已经可以通过手机、平板、电脑来使用 Arrrt 了，未来我们还会逐步支持手表、智慧屏、车机屏幕、智能眼镜等，真正做到「艺术触手可及」。 Arrrt 鸿蒙版的多端适配 多设备适配，不仅为我们带来了用户量和活跃度的提升，还带来了意想不到的亮相机会。 鸿蒙电脑正式发布前，我们获得了提前适配的机会，成为首批适配鸿蒙电脑的应用之一，并在全球瞩目的鸿蒙电脑发布会上亮相，出现在余总介绍首款鸿蒙折叠电脑的 PPT 页面上。 Arrrt 出现在鸿蒙电脑发布会上 登上 HDC 大会主舞台 鸿蒙电脑发布会过后，我们又获得一个宝贵的机会：在 2025 华为开发者大会的主会场上分享。 往年 HDC 主会场的分享者，基本都是华为或互联网大厂的高管，我们可能是首次登上这个舞台的小开发者代表——就像朋友打趣说的： 那个台上用户量不过亿的，估计只有你了。 为了完成这次面向上万现场观众、千万级直播受众的分享，我们和华为的多个部门有了更进一步的交流与协作，从拟定方向到打磨 PPT，从彩排演练到最终上场，每个环节都遇到了一些非常专业、真诚、负责的工作人员——直到上台前做最后准备的时候，每一个遇到的工作人员都在给我打气。 经过那段时间的并肩奋战，「鸿蒙」对我们来说变成了一种更有温度的存在。 最近正好是 Arrrt 鸿蒙版上架一周年，在短短一年内拥有这么多体验与收获，还是觉得有些不可思议。用心做产品，并被看见与支持，对开发者而言是一件美好的事，相信这样的美好会在鸿蒙继续发生。 关注 少数派小红书 ，感受精彩数字生活 🍃 实用、好用的 正版软件 ，少数派为你呈现 🚀 30 7 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布 本文责编：@ 克莱德 # 鸿蒙1024 30 等 30 人为本文章充电 扫码分享 举报本文章 有想法的徐同学 👨🏻‍💻 产品经理 设计师，有个数字化产品工作室📱 作品：Arrrt、NeckGo、小停顿、Daaay、效率控、BodyKnows🌊 苹果 、华为、OPPO、小米等官方应用商店推荐100+次 关注",
          "summary": "鸿蒙1024以鸿蒙开发视角呈现美术馆成果，徐同学通过鸿蒙技术实现美术馆项目，并获官方推荐。该项目获得AppGallery推荐，实现多端适配与服务卡片功能，参与华为开发者大会并登上舞台，展现鸿蒙生态价值。",
          "sourceUrl": "https://sspai.com/post/102951",
          "publishedAt": "2025-10-15T03:00:00.000Z",
          "author": "有想法的徐同学",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "派早报：ChatGPT 将放开成人内容限制、GrapheneOS 已与主流 OEM 厂商达成合作等",
          "content": "周三 15 派早报：ChatGPT 将放开成人内容限制、GrapheneOS 已与主流 OEM 厂商达成合作等 Grok：什么是第一生产力啊（后仰）？ 早报速览 ChatGPT 将放开成人内容限制 12 GrapheneOS 已与主流 OEM 厂商达成合作 5 Spotify 已与 Netflix 达成视频播客内容分发合作 0 Firefox 引入 Perplexity 搜索引擎选项 0 英伟达发布 DGX Spark 桌面 AI 超算 0 微软推出 Surface Laptop 5G 商用版（13.8 英寸） 2 看看就行的小道消息 0 ChatGPT 将放开成人内容限制 10 月 15 日，OpenAI 首席执行官 Sam Altman 在社交平台发布消息称，考虑到目前 ChatGPT 已经有了完善的心理健康问题应对机制，ChatGPT 将在近期更新中带来更有人情味的回复模式，比如在用户许可的前提下使用更多 emoji、表现得更像朋友身份等，这种模式在早前 4o 模型中颇受用户好评；同时在 12 月即将推出的更新中，ChatGPT 还将全面推行年龄分级制度，针对通过年龄认证的用户放宽色情对话内容限制。 来源 又来颜色才是第一生产力是吧。 说清楚，是「人情味」还是「情人味」？ 烧掉几万亿美元，最后又是滋养了下三路，现代人也别嘲笑古巴比伦荒淫无度 🤣 什么P站X站也就图一乐，大哥还得看C站😏😏 还要 12 月再说，有点久啊 全部讨论 12 58 4 8 16 4 1 GrapheneOS 已与主流 OEM 厂商达成合作 以安全和隐私保护闻名的知名 Android 第三方 ROM 团队 GrapheneOS 近期 透露 ，他们将联合某家主流 OEM 厂商，为一款搭载高通骁龙 8 Gen5 至尊版处理器的未发布设备提供设备支持，同时澄清该 OEM 厂商不是 Fairphone。GrapheneOS 目前仅面向部分 Google Pixel 设备提供适配和支持，但该团队此前已多次就 Google 日渐收紧的 Bootloader 解锁政策和 AOSP 源代码公开策略表示过 质疑 ，近期还就 Google 主动封堵的中国大陆地区运营商网络解锁提供过部分 官方支持 。 来源 索尼Xperia要雄起了？ 为什么不是三丧? 排除法确认下来只剩下牢索一家了，符合GrapheneOS对主要OEM的定义，时间点2026/2027也确实符合牢索下一代旗舰的发布窗口（还要预留一点适配的时间），而且目前的话除了Google就剩牢索还有在默默的坚持着他们的”开发者友好“计划...... 14 Spotify 已与 Netflix 达成视频播客内容分发合作 10 月 14 日，Spotify 宣布已于 Netflix 达成视频播客内容分发合作，Netflix 后续将基于该合作框架上线来自 Spotify Studios 和 The Ringer 的视频播客内容，涉及体育、文化、生活方式、犯罪纪实等题材，Spotify 也陆续开放更多来自其它工作室的其它题材内容给 Netflix 分发。 Spotify 早前推行音频播客，但并未取得太好的订阅转化效果。2023 年起 Spotify 的播客内容重心开始从音频转向视频，根据 Spotify 在 2025 年 7 月 公布的信息 ，该平台目前已经拥有超过 43 万条视频播客内容，视频内容消费增长速度自 2024 年起增速超过传统音频内容 20 倍。 来源 1 1 Firefox 引入 Perplexity 搜索引擎选项 10 月 14 日，Firefox 通过官方博文宣布，早前在测试中取得「积极反馈」的 AI 搜索引擎 Perplexity，将在 Firefox 144 正式版中作为新的搜索引擎选项上线。相比传统搜索引擎，Perplexity 将以对话问答的形式提供查询结果。Firefox 表示 Perplexity 严格禁止出售或共享个人数据，并且将在未来几个月时间内登陆移动版本。 此外，早前测试中的用户配置文件功能也已正式上线，该功能允许用户借助不同的配置文件区分工作、个人浏览环境，或测试不同的扩展配置。基于 Google Lens 的视觉搜索功能也在桌面端同步上线，用户只需将默认搜索引擎设置为 Google 即可使用。 来源 8 1 英伟达发布 DGX Spark 桌面 AI 超算 英伟达于 10 月 13 日宣布，基于 GB10 Grace Blackwell 超级芯片的 DGX Spark 桌面 AI 超算将于本月 15 日正式发售，第一方 FE 版本定价 3999 美元。 DGX Spark 采用的 GB10 芯片包含由 10 个 Arm Cortex-X925 核心与 10 个 Arm Cortex-A725 核心构成的 20 核 CPU，GPU 部分则拥有 6144 个 CUDA 核心，配备 256-Bit 128GB 的 LPDDR5x-9400 统一内存，FE 版本提供 4TB 固态硬盘。此外 DGX Spark 内置英伟达 ConnectX-7 200Gb/s 高速有线网卡、支持 Wi-Fi 7 和蓝牙 5.3 的无线网卡、10Gbps 常规有线网卡，外部 I/O 方面包含 4 个 USB4 Type-C、1 个 HDMI、1 个 10Gbps RJ45、2 个 200Gbps QSFP。DGX Spark 运行 DGX OS，预装英伟达 AI 软件堆栈。其单机拥有 1 petaflop 的 FP4 稀疏 AI 算力，支持 200B 参数模型本地推理和 70B 参数模型本地微调；该设备还支持通过 ConnectX-7 双机互联实现 405B 参数推理。 除了 FE 版本之外，英伟达合作伙伴宏碁、华硕、戴尔、技嘉、惠普、联想、微星也将推出基于 GB10 芯片的「非公」版本。 来源 2 19 1 1 1 微软推出 Surface Laptop 5G 商用版（13.8 英寸） 微软于 10 月 14 日宣布发售 Surface Laptop 5G 商用版（13.8 英寸），支持实体 Nano SlM 卡和智能 5G 切换。该机整体重量 1.39 千克、厚度 17.8mm，配备一块 13.8 英寸抗反射 PixelSense 触控屏，可选英特尔酷睿第二代 Ultra 5/7 处理器，以及最高 32GB RAM 和 1TB 存储空间；可提供长达 20 小时的电池续航能力，同时还支持北斗、GPS、GNSS L1 等多种定位系统。 I/O 方面，该机左侧提供 1 个 3.5mm 音频接口、1 个 USB-A 接口、2 个 USB-C 接口；右侧提供 1 个 Nano SIM 卡槽、1 个 Surface Connect 接口。 来源 别发梦了，后面消费端还是高通，商用版会有Intel可选。 sl7/pro11这代版本很混乱：首先消费版本全是高通；其次for business有高通和intel；再次pro11的5g版本早出来了，是高通；再再次sl7 5g是laptop线第一次有5g版本，且c面材质都不是金属的，估计模具构造有很大不同；最后，sl7现在叫surface laptop 13.8/15寸，pro11叫做surface pro 13寸。 喜欢我们牢软吗 之前用高通用那么凶，现在老老实实回去找Intel了 6 1 看看就行的小道消息 有报道称，三星 Galaxy Z 系列的三折叠机型将在包括美国在内的多个国家和地区推出，而非此前传闻中的仅在中国和韩国发布。 来源 发表首评 少数派的近期动态 10 月 14 日晚 19:30，MeetCard 正式上线，欢迎来到直播间一探究竟。 进一步了解 少数派 1024 程序员节征文：码上，与鸿蒙一起进击。 进一步了解 少数派 x Khadas 哈达电脑众测活动现已发布，体验新机赢大奖。 进一步了解 你可能错过的文章 社区速递 113 | 派友热议 AI 浏览器、作者的新玩意和一周热评 我就是想继续用 Windows 10：那安全漏洞怎么办？ 派评 | 近期值得关注的 App 关注 少数派公众号 ，解锁全新阅读体验 📰 实用、好用的 正版软件 ，少数派为你呈现 🚀 10 11 扫码分享 目录 0 讨论 我来说一句 发布 发表评论 发布",
          "summary": "10月15日，ChatGPT将全面推行年龄分级制度，优化情绪回复模式；GrapheneOS与主流OEM厂商合作，为高通骁龙8 Gen5设备提供适配支持；Spotify与Netflix达成视频播客合作，拓展内容分发渠道；Firefox引入Perplexity搜索功能；英伟达发布DGX Spark桌面AI超算；微软推出Surface 5G商用版。",
          "sourceUrl": "https://sspai.com/post/103104",
          "publishedAt": "2025-10-14T23:42:48.000Z",
          "author": "少数派编辑部",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      },
      {
        "json": {
          "title": "社区速递 113 | 派友热议 AI 浏览器、作者的新玩意和一周热评",
          "content": "社区速递 113 | 派友热议 AI 浏览器、作者的新玩意和一周热评 主作者 关注 Matrix机器人 少数派成员 运行在 Matrix 上的机器人 Matrix机器人 关注 Matrix机器人 少数派成员 运行在 Matrix 上的机器人 联合作者 关注 Matrix机器人 少数派成员 运行在 Matrix 上的机器人 Matrix机器人 关注 Matrix机器人 少数派成员 运行在 Matrix 上的机器人 前天 16:32 💬一派热议 在上期第 237 期一派讨论《 AI 浏览器时代来临？聊聊你的体验 》中，共有 515 名派友热情参与，十分感谢！ 看来AI浏览器现阶段很难有足够的吸引力 反对派： ICONIC (+36) 什么 AI？不就是加个插件嘛。是我肤浅了吗？ 郁闷人 (+12) 不仅不会，我还要把浏览器自带的 AI 功能关了，到处加牛皮癣和给我塞广告。 废柴铁克诺 (+8) 我讨厌强制塞给我的东西。 Hillsomec (+8) Gemini in Chrome 快点能用吧。 克里斯同学 (+8) 日常用 Edge 和 Safari，我甚至隐藏了 Copilot 的按钮。需要 AI 的时候单独开个 ChatGPT 或者通义千问的标签。 CharlieLau (+3) 最大的问题是，现在的 AI 浏览器（我只用过 Dia 和 Comet），体验不能追平传统浏览器，不觉得多出来的 agent 功能能有什么降维打击的效果。真要说起来，这些浏览器 agent 能力还不见得有 Claude Code 全面。 体验派： 汪汪队好开心 (+6) 就拿豆包 PC 版来说，我曾经确实把 Edge 的收藏夹全部转移到了豆包中，用豆包做了一段时间的主力浏览器，但后续不得不换回 Edge。 首先豆包会在视频界面自己解析字幕生成 AI 总结，导致我在看完 YT 之后豆包账号被封。 其次 B 站的电影页面有概率提示浏览器不安全，请切换其它浏览器，重灾区是迪士尼电影。 墨子规啼 (+5) AI 的应用场景和浏览器的场景其实属于井水不犯河水，一个是宽泛的，一个精准的，一个可以期待搜索引擎，一个满足精准阅读，一个扩展了内容获取的效率，一个可挖掘内容的深度，一个给我它觉得我要的，一个满足我自己想要的。 老麦 (+4) 直接用豆包问问题搜索很方便，也算准确，但是在浏览器里面用 AI 就很奇怪，可能 AI 天生适合对话模式吧。 随机漫步者 (+4) 一直用 Edge 浏览器，内置的 Copilot 够用了，新标签页也能设置 Copilot 页面。 YTu (+3) Arc + 自建 Sidebar。 BCNY 什么时候能把 Arc 和 Dia 融合一下？ 奔跑的三日 (+3) 目前还是常用 Edge，习惯了侧边栏。Copilot 目前也更新到了跨网页搜集信息，不过距离想象中的 AI 浏览器还是有点差距。我更想要的是那种可以帮我填入信息的 AI 浏览器，比如在填写报告的时候。 Acid (+1) 用过各种 AI 浏览器，又回到了宣称永远不会添加任何内建 AI 功能的 Vivaldi，不过现在倒是有点怀念 Arc 的 tidy downloads 和 tidy tabs 功能了。 tony4927 (+1) 怎么说 Comet 浏览器的很少，我用的起飞了呀！！ 很多任务都可以半自动执行（不那么长的工作流完成 90% 以上），其实也就点击发送 / 确认之类的按钮，我很理解开发者把这个触发交给用户执行。 目前我用它： 寻找添加领英采购人员，互动联系人动态 批量互动 feed 动态 批量撤销申请 撰写个性化领英开发信 WordPress 网站优化初级 Yoast SEO（关键词、SEO title、Meta description） 阿里国际站发布链接写标题，副标题，关键词 都可以啊，我感觉玩法还有很多，是有生产力的，准备让同事都用一下。 中间派： CharlesLee (+2) 我的感觉是现在浏览器完全没有 AI 也不行，但是专门用 Dia、Comet、豆包电脑版也没必要。我现在就是从 Safari 切换到 Edge，理由是 Edge + 豆包插件很好用。（再加上 macOS 26 的 Safari 自废武功去掉了标签栏紧凑布局） EricKY26 (+1) 不会放弃，但会同时使用，比如现在我就同时使用 Safari（主要），Zen（目前较少，之前用 Arc，但是 The Browser Company 转投精力去做 Dia 了，Arc 基本只是维护状态，不更新新功能了，所以改用了 Zen），Dia（较少），以及国内的豆包（稍多），豆包在 Mac 上是以一个浏览器 + 悬浮窗 AI 助手的形式出现的，日常的需求完全能满足。 小煜 (+1) Windows 电脑上，Edge 是我的默认浏览器，平时不挂代理主用 Edge，挂了代理之后主用 Chrome 和 Arc。Mac 电脑上 Arc 是作为默认浏览器，这款浏览器在 Mac 上的体验要比 Windows 上好很多，同时 Dia 浏览器看着也不错，Mac 电脑上最近还有一个潜力股，就是 Comet 浏览器。 总的来说 Mac 电脑上可选择的浏览器要比 Windows 电脑多，体验也要好很多。 SongWang (+1) 依然在使用 Safari，AI 在我看来是改变原有的搜索页，而不是整个浏览器，最适宜的产品形态就是现有的网页形态，没必要在浏览器壳子上加啥 AI，甚至我觉得 AI 是分不同工具属性的，DeepSeek 如果能开发原生的桌面端应用，我想我大概率就再也不会在浏览器上打开搜索类网页了。 搜索结果的标签页在我的传统工作流里存在大量冗余，且需要经常开关，这个体验很不好，让他以对话的形式被记录在一个垂类搜索工具里也许是他更好的归宿，当然其他类型的 AI 也是如此。 keleus (+1) 现在有的几个 AI 浏览器里做的还算好的也就 Comet。 锐评一下几个 AI 浏览器吧： Fellou 之类的，本质上不是浏览器，只是一个 Electron，没有完整的浏览器功能。 Dia，把浏览器自带的设置页隐藏了，想要改设置需要进 dia://settings 自己手动输入。 Genspark，号称本地大模型，但首页锁死他的官网对话，无法关闭，全是充值广告弹窗，只能说不愧是百度出身的做的。 其实自己主要用的浏览器 + AI 插件或者是 AI 的客户端就足够用了。现在的 AI 浏览器并没有说能力特别强。而且新品太多了，维护期也不能保证，不如等 Chrome、Edge 自己更新 AI 相关的功能（前提是不要塞广告，点名 Edge）。 WK (+1) 从认知角度来说，我不愿意 AI 浏览器介入我的信息阅读，会导致我的大脑惰性；我实在搞不清楚的内容，再请他帮忙就可以了。 📢：下一期的一派讨论是数码圈日经话题《 你「拼车」过吗？ 》，欢迎来聊。 2 🔥一周热评 来自文章 《用 Karakeep 搭建你的个人收藏夹》 ： 雪走 (+6) 作为没技术的人，只能用 Cubox 来达到这个功能了。 米粥 (+2) 这个用过了，感觉不怎么好用。推荐用 Linkding。 Passthem (+1) 它的界面很现代，而且用起来也很舒服，唯一有个缺点是，其实这个的性能开销，我自己测下来有点大，在云服务器上部署的话一下子就占满性能开销了，无奈还是只能换成更加平庸且手动的 Linkding 了。 来自文章 《【Logseq】创建标签管理的本地电子书库》 ： Adama (+5) 虽然理解笔者懒得再导一次的想法，但确实觉得这一套折腾，包括提到的替代方法，好像还不如再导进 Calibre 一次（捂脸）。 zixr365 (+3) Calibre 是专业的图书管理软件，对于普通人来说，用 Logseq 的管理成本远远大于用 Calibre。对于普通人来说实在是想不到非要用 Logseq 的意义在哪里。 除非是痴迷于非要用一个工具干完所有的事情。否则还是专业事专业工具干比较好。 来自文章 《它画质一般、散热孱弱，为何成为我出门必带的相机：大疆 Osmo Nano 使用体验》 ： 你晒昂饿 (+3) 散热真的是个大问题（江浙沪最近还 30 度），2.7K 50hz 标准码率 15 分钟就过热了。 恒笑 (+3) 众所周知，大疆的东西最好从第二代开始买😛。 test1plus (+0) 第一款大疆，用来拍娃，开 4K 录半个钟真的热的发烫，相机电量也不多了，提示过热暂停充电 emmm。 来自文章 《App+1 | 用 ExposurePlot 找出最适合自己的拍照焦段》 ： Infovores (+11) 前新闻摄影师，个人不认可所谓适合自己的焦段这个说法，给新人的建议是首选轻便的定焦头长期挂机，目的是放松拍摄过程，出门不用纠结选什么镜头，只有这一个镜头和焦段可用，能拍什么就拍什么，拍不到就用眼睛欣赏。长期训练后就能成为自己习惯的焦段。比如买个二手的 RX1RⅡ～ um151 (+3) 以前就在 Lightroom 里统计过，然后发现这个没任何意义。除非你是摄影工作者，不然如果用变焦头，99% 的人用的最多的就是最广和最长的两端。中间基本上是较为均匀地分布。拍得多了喜欢用什么焦距自己心里就有数了，强行分析本末倒置。 幸福骇客 (+2) 工具很好，但并不能以此找到自己的黄金焦段。 首先焦段跟着需求走，而需求由题材，风格，条件等组成。即使不论这些，大多数人使用变焦镜头也往往更偏向其两极，某些调整也是为了当时的画框而已。而且最重要的是也许你需要的焦段是你没有的。 不过我记得有个手机 App 能电子变焦到等效全画幅的焦段，我觉得那个倒是能帮你寻找你心意的焦段。不过我忘记那个 App 叫什么名字了。 诡异的耗子 (+1) 如果是在苹果生态里，照片放在 iCloud 的话，可以在 macOS 的照片 App 里创建「智能相册」，比如「焦距为 35mm」「ISO 在 800 以下」等。然后通过观察智能相册中照片的数量和内容也可以做到类似的分析。 来自文章 《AI 学习模式：让 ChatGPT 当导师，究竟是「邪修」破局还是暗藏陷阱？》 ： 亚里士多德芝士 (+25) 这句话应该高亮——「AI 作为学习伙伴是非常值得推荐的，可以有效地帮我们打破互联网都无法穿透的信息壁垒；但是让 AI 垄断我们的学习也是非常危险的，请务必保持从外界获取知识的能力。」 小木船 (+9) 一般很少专门使用学习模式，而是直接使用深度思考辅助学习。这个时候 AI 很少存在讨好用户的情况，反而由于不了解用户基础会为了追求凝练而加大阅读难度，这个时候就逼迫人不得不去阅读专著。而积累了一定的认知后，再去与 AI 对话反而能有融会贯通的效果。另外我会在每个提问后让 AI 生成一个示例帮助我理解理论，多数情况下会有很好的效果。 臭烘烘奶茶 (+4) AI 穿透信息壁垒确实比较厉害（在数据集比较优质的情况下），在功能上类似于一个支持全文搜索和模糊搜索的搜索引擎，把最符合的问题的文本整合和输出。 然而一旦数据集质量下降，或者问到了小众领域，那么 AI 也只能给出比较低质的回复。自己保存和分析那些高质量的文章和典籍还是有必要的，尤其是在自己的专业领域。 庄子说「技近乎道」，也就是学习的最终目标，不只是掌握技艺，而是学会如何观察与分析世界。也许在未来，大模型能压缩人类全部的优质知识，但最后只有亲身实践与思考的人才能抵达真理。 Ocean (+2) 目前我觉得 AI 的学习模式仍然局限在相对狭窄的领域里，往往只能在一些具体问题上取得不错的效果。比如面对一道例题或一类算法题，尤其是涉及复杂数学与高级数据结构的题目时，AI 能展现出相当强的能力。真正的困难有时并不是工具不足，而是工具过多，抓不住题目的核心特征，一时间难以判断该用哪一种。 相比之下，在某一特定领域的系统学习上，我更倾向于使用 NotebookLLM。它不仅能提供更连贯的学习体验，现在还新增了智能闪卡与测验功能，让学习反馈更明显。 ...",
          "summary": "社区速递 | 派友热议AI浏览器体验，中短期建议涵盖不同浏览器功能优化与用户体验。讨论涵盖反对AI功能简单、体验派强调传统浏览器优势、中间派推荐Edge与豆包等工具，以及用户对AI浏览器局限性的看法。",
          "sourceUrl": "https://sspai.com/post/103079",
          "publishedAt": "2025-10-14T08:32:58.000Z",
          "author": "Matrix机器人",
          "tags": [],
          "contentType": "news",
          "dataSource": "RSS"
        }
      }
    ]
  },
  "connections": {
    "手动触发": {
      "main": [
        [
          {
            "node": "RSS源列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS源列表": {
      "main": [
        [
          {
            "node": "读取RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取RSS": {
      "main": [
        [
          {
            "node": "获取HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取HTML": {
      "main": [
        [
          {
            "node": "提取内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取内容": {
      "main": [
        [
          {
            "node": "AI生成摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI生成摘要": {
      "main": [
        [
          {
            "node": "处理结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理结果": {
      "main": [
        [
          {
            "node": "保存到后端",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存到后端": {
      "main": [
        [
          {
            "node": "统计结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc8e1ebd-4bdb-49f7-9587-d1980d2a45b1",
  "meta": {
    "instanceId": "1580dc7857217dff6d942f2a0f967f6cdcc384fb8590458da30656bb165788e1"
  },
  "id": "xrrjJeq8itTx36NO",
  "tags": []
}